# Environment
NODE_ENV=development
ENV_NAME=local
PORT=3001
NO_COLOR=
GLOBAL_PREFIX=api

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=name

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001

# Default admin credentials
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
