name: vending-tracking-app

services:
  postgres:
    image: postgres:18
    container_name: vending-tracking-app-postgres
    environment:
      POSTGRES_USER: vending-tracking-app
      POSTGRES_PASSWORD: vending-tracking-app
      POSTGRES_DB: vending-tracking-app
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: vending-tracking-app-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  postgres_data:
    name: vending-tracking-app-postgres-data
  pgadmin_data:
    name: vending-tracking-app-pgadmin-data
